html,
body {
    background-color: #f9f9f9;
}

.container-fluid {
    padding: 0;
}

#title-bar {
    width: 100%;
    height: auto;
    background-color: #1d87ff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#simplypairs {
    width: 400px;
    margin-bottom: 15px;
}

.game-btn {
    margin-bottom: 10px;
    font-weight: bold;
}

.nav-btn {
    margin: 0 5px;
}

.levels {
    margin-bottom: 15px;
}

/*----------HEADINGS AND TEXT----------*/
.page-heading {
    color: #f9f9f9;
    font-weight: bold;
    font-size: 60px;
}

.game-heading {
    color: #f9f9f9;
    font-weight: bold;
}

.game-info {
    color: #f9f9f9;

}

/*----------GAME CSS----------*/

.memory-game {
    background-color: #1d87ff;
    height: auto;
    width: 100px;
    margin: 0 5px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.lvl3-grid {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lvl2-grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#lvl1-grid {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #f55d42 url('png/playingcard-back.png') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #71d17f !important;
    width: 150px;
}

/*----------TURN COUNTER CSS----------*/

#turns {
    width: 200px;
    height: 50px;
    background-color: #343a40;
    border-radius: 12px;
    margin-left: 15px;
    margin: 10px;
    color: #f9f9f9;
}

.turn-counter {
    text-align: center;
}


/*----------Media Queries----------*/

@media (min-width: 1024px) and (max-width: 1250px) {

    #simplypairs {
        width: 250px;
        margin-bottom: 15px;
    }
}


/*----------Tablets----------*/
@media (min-width: 768px) and (max-width: 1024px) {

    .memory-game {
        margin-bottom: 20px;
    }

    #simplypairs {
        width: 250px;
        margin-bottom: 15px;
    }

    .card,
    .back,
    .front {
        height: 100px;
        width: 100px;
    }

}

/*----------Mobiles----------*/
@media (min-width: 320px) and (max-width: 768px) {

    .memory-game {
        margin-bottom: 20px;
    }

    #simplypairs {
        width: 250px;
        margin-bottom: 15px;
    }

    .page-heading {
        font-size: 45px;
    }
    .card,
    .back,
    .front {
        height: 100px;
        width: 100px;
        margin: 2px;
    }

}